<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../../../static/materialize/css/materialize.min.css"
        media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="deep-orange lighten-3">
    <h1 class="center-align red-text darken-2">Select The device</h1>
    <div class="divider"></div>
    <br>
    <div class="row container">
    <form class="col s12" method="POST" action="">
    {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input id="Fan_speed" type="text" name="Fan_speed" class="validate">
          <label for="Fan_speed">Fan_speed</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id = "Swing" name="Swing" type="text" class="validate">
          <label for="Swing">Swing 1/0</label>
        </div>
        <div class="input-field col s6">
          <input id="Name" name="Name" type="text" class="validate">
          <label for="Name">Name</label>
        </div>
        <input type="hidden" id="ACId" name="acId" value={{all_AC}}>
        <input type="submit" value="Post"/>
      </div>
    </form>
  </div>
    
    <script type="text/javascript" src="../../../../static/materialize/js/materialize.min.js"></script>
</body>

</html>